@mixin img-re {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

$breakpoint-pc: 1080px;
$breakpoint-tab: 768px;
$breakpoint-sp: 640px;
$breakpoint-sps: 321px;


@mixin maxs($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}
@mixin mins($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}
@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

@mixin tate {
	-webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

$sprite: sprite-map("spr/*.png", $spacing: 5px);
$sprite_img: sprite-url($sprite);

@mixin spr_bg($name) {
  width: image-width(sprite-file($sprite, $name));
  height: image-height(sprite-file($sprite, $name));
  $xpos: round(nth(sprite-position($sprite, $name), 1));
  $ypos: round(nth(sprite-position($sprite, $name), 2));
  background-image: $sprite_img;
  background-position: $xpos $ypos;
  background-repeat:no-repeat;
  $wbgz: image-width(sprite-path($sprite));
  @include background-size($wbgz auto);
}
@mixin spr_re($name) {
  @include spr_bg($name);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


$sprite_2x: sprite-map("spr2x/*.png", $spacing: 5px);
$sprite_img_2x: sprite-url($sprite_2x);

@mixin spr_bg_2x($name) {
  width: image-width(sprite-file($sprite_2x, $name)) / 2;
  height: image-height(sprite-file($sprite_2x, $name)) / 2;
  $xpos: round(nth(sprite-position($sprite_2x, $name), 1) / 2);
  $ypos: round(nth(sprite-position($sprite_2x, $name), 2) / 2);
  background-image: $sprite_img_2x;
  background-position: $xpos $ypos;
  background-repeat:no-repeat;
  $wbgz: image-width(sprite-path($sprite_2x)) / 2;
  @include background-size($wbgz auto);
}
@mixin spr_re_2x($name) {
  @include spr_bg_2x($name);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
